// /* *
//  * Syntax highlighting styles
//  */
// .highlight {
//   background: #fff;
//   @extend %vertical-rhythm;

//   .highlighter-rouge & {
//     background: #eef;
//   }

//   .c     { color: #998; font-style: italic } // Comment
//   .err   { color: #a61717; background-color: #e3d2d2 } // Error
//   .k     { font-weight: bold } // Keyword
//   .o     { font-weight: bold } // Operator
//   .cm    { color: #998; font-style: italic } // Comment.Multiline
//   .cp    { color: #999; font-weight: bold } // Comment.Preproc
//   .c1    { color: #998; font-style: italic } // Comment.Single
//   .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
//   .gd    { color: #000; background-color: #fdd } // Generic.Deleted
//   .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
//   .ge    { font-style: italic } // Generic.Emph
//   .gr    { color: #a00 } // Generic.Error
//   .gh    { color: #999 } // Generic.Heading
//   .gi    { color: #000; background-color: #dfd } // Generic.Inserted
//   .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
//   .go    { color: #888 } // Generic.Output
//   .gp    { color: #555 } // Generic.Prompt
//   .gs    { font-weight: bold } // Generic.Strong
//   .gu    { color: #aaa } // Generic.Subheading
//   .gt    { color: #a00 } // Generic.Traceback
//   .kc    { font-weight: bold } // Keyword.Constant
//   .kd    { font-weight: bold } // Keyword.Declaration
//   .kp    { font-weight: bold } // Keyword.Pseudo
//   .kr    { font-weight: bold } // Keyword.Reserved
//   .kt    { color: #458; font-weight: bold } // Keyword.Type
//   .m     { color: #099 } // Literal.Number
//   .s     { color: #d14 } // Literal.String
//   .na    { color: #008080 } // Name.Attribute
//   .nb    { color: #0086B3 } // Name.Builtin
//   .nc    { color: #458; font-weight: bold } // Name.Class
//   .no    { color: #008080 } // Name.Constant
//   .ni    { color: #800080 } // Name.Entity
//   .ne    { color: #900; font-weight: bold } // Name.Exception
//   .nf    { color: #900; font-weight: bold } // Name.Function
//   .nn    { color: #555 } // Name.Namespace
//   .nt    { color: #000080 } // Name.Tag
//   .nv    { color: #008080 } // Name.Variable
//   .ow    { font-weight: bold } // Operator.Word
//   .w     { color: #bbb } // Text.Whitespace
//   .mf    { color: #099 } // Literal.Number.Float
//   .mh    { color: #099 } // Literal.Number.Hex
//   .mi    { color: #099 } // Literal.Number.Integer
//   .mo    { color: #099 } // Literal.Number.Oct
//   .sb    { color: #d14 } // Literal.String.Backtick
//   .sc    { color: #d14 } // Literal.String.Char
//   .sd    { color: #d14 } // Literal.String.Doc
//   .s2    { color: #d14 } // Literal.String.Double
//   .se    { color: #d14 } // Literal.String.Escape
//   .sh    { color: #d14 } // Literal.String.Heredoc
//   .si    { color: #d14 } // Literal.String.Interpol
//   .sx    { color: #d14 } // Literal.String.Other
//   .sr    { color: #009926 } // Literal.String.Regex
//   .s1    { color: #d14 } // Literal.String.Single
//   .ss    { color: #990073 } // Literal.String.Symbol
//   .bp    { color: #999 } // Name.Builtin.Pseudo
//   .vc    { color: #008080 } // Name.Variable.Class
//   .vg    { color: #008080 } // Name.Variable.Global
//   .vi    { color: #008080 } // Name.Variable.Instance
//   .il    { color: #099 } // Literal.Number.Integer.Long
// }

@import "./variables";

.highlight {
  background: #263238 !important;
}

figure {
  background: #263238 !important;
}

figure.highlight {
  background: #263238 !important;
}

code {
  background: #263238 !important;
  color: #e83e8c !important;
}

/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

   div.highlighter-rouge,
   figure.highlight {
     position: relative;
     margin-bottom: 1em;
     background: $base00;
     color: $base05;
     font-family: $monospace;
     font-size: $type-size-6;
     line-height: 1.8;
     border-radius: $border-radius;
   
     > pre,
     pre.highlight {
       margin: 0;
       padding: 1em;
       background: #263238 !important;
     }
   }
   
   .highlight table {
     margin-bottom: 0;
     font-size: 1em;
     border: 0;
   
     td {
       padding: 0;
       width: calc(100% - 1em);
       border: 0;
   
       /* line numbers*/
       &.gutter,
       &.rouge-gutter {
         padding-right: 1em;
         width: 1em;
         color: $base04;
         border-right: 1px solid $base04;
         text-align: right;
       }
   
       /* code */
       &.code,
       &.rouge-code {
         padding-left: 1em;
       }
     }
   
     pre {
       margin: 0;
     }
   }
   
   .highlight pre {
     width: 100%;
   }
   
   .highlight .hll {
     background-color: $base06;
   }
   .highlight {
     .c {
       /* Comment */
       color: $base04;
     }
     .err {
       /* Error */
       color: $base08;
     }
     .k {
       /* Keyword */
       color: $base0e;
     }
     .l {
       /* Literal */
       color: $base09;
     }
     .n {
       /* Name */
       color: $base05;
     }
     .o {
       /* Operator */
       color: $base0c;
     }
     .p {
       /* Punctuation */
       color: $base05;
     }
     .cm {
       /* Comment.Multiline */
       color: $base04;
     }
     .cp {
       /* Comment.Preproc */
       color: $base04;
     }
     .c1 {
       /* Comment.Single */
       color: $base04;
     }
     .cs {
       /* Comment.Special */
       color: $base04;
     }
     .gd {
       /* Generic.Deleted */
       color: $base08;
     }
     .ge {
       /* Generic.Emph */
       font-style: italic;
     }
     .gh {
       /* Generic.Heading */
       color: $base05;
       font-weight: bold;
     }
     .gi {
       /* Generic.Inserted */
       color: $base0b;
     }
     .gp {
       /* Generic.Prompt */
       color: $base04;
       font-weight: bold;
     }
     .gs {
       /* Generic.Strong */
       font-weight: bold;
     }
     .gu {
       /* Generic.Subheading */
       color: $base0c;
       font-weight: bold;
     }
     .kc {
       /* Keyword.Constant */
       color: $base0e;
     }
     .kd {
       /* Keyword.Declaration */
       color: $base0e;
     }
     .kn {
       /* Keyword.Namespace */
       color: $base0c;
     }
     .kp {
       /* Keyword.Pseudo */
       color: $base0e;
     }
     .kr {
       /* Keyword.Reserved */
       color: $base0e;
     }
     .kt {
       /* Keyword.Type */
       color: $base0a;
     }
     .ld {
       /* Literal.Date */
       color: $base0b;
     }
     .m {
       /* Literal.Number */
       color: $base09;
     }
     .s {
       /* Literal.String */
       color: $base0b;
     }
     .na {
       /* Name.Attribute */
       color: $base0d;
     }
     .nb {
       /* Name.Builtin */
       color: $base05;
     }
     .nc {
       /* Name.Class */
       color: $base0a;
     }
     .no {
       /* Name.Constant */
       color: $base08;
     }
     .nd {
       /* Name.Decorator */
       color: $base0c;
     }
     .ni {
       /* Name.Entity */
       color: $base05;
     }
     .ne {
       /* Name.Exception */
       color: $base08;
     }
     .nf {
       /* Name.Function */
       color: $base0d;
     }
     .nl {
       /* Name.Label */
       color: $base05;
     }
     .nn {
       /* Name.Namespace */
       color: $base0a;
     }
     .nx {
       /* Name.Other */
       color: $base0d;
     }
     .py {
       /* Name.Property */
       color: $base05;
     }
     .nt {
       /* Name.Tag */
       color: $base0c;
     }
     .nv {
       /* Name.Variable */
       color: $base08;
     }
     .ow {
       /* Operator.Word */
       color: $base0c;
     }
     .w {
       /* Text.Whitespace */
       color: $base05;
     }
     .mf {
       /* Literal.Number.Float */
       color: $base09;
     }
     .mh {
       /* Literal.Number.Hex */
       color: $base09;
     }
     .mi {
       /* Literal.Number.Integer */
       color: $base09;
     }
     .mo {
       /* Literal.Number.Oct */
       color: $base09;
     }
     .sb {
       /* Literal.String.Backtick */
       color: $base0b;
     }
     .sc {
       /* Literal.String.Char */
       color: $base05;
     }
     .sd {
       /* Literal.String.Doc */
       color: $base04;
     }
     .s2 {
       /* Literal.String.Double */
       color: $base0b;
     }
     .se {
       /* Literal.String.Escape */
       color: $base09;
     }
     .sh {
       /* Literal.String.Heredoc */
       color: $base0b;
     }
     .si {
       /* Literal.String.Interpol */
       color: $base09;
     }
     .sx {
       /* Literal.String.Other */
       color: $base0b;
     }
     .sr {
       /* Literal.String.Regex */
       color: $base0b;
     }
     .s1 {
       /* Literal.String.Single */
       color: $base0b;
     }
     .ss {
       /* Literal.String.Symbol */
       color: $base0b;
     }
     .bp {
       /* Name.Builtin.Pseudo */
       color: $base05;
     }
     .vc {
       /* Name.Variable.Class */
       color: $base08;
     }
     .vg {
       /* Name.Variable.Global */
       color: $base08;
     }
     .vi {
       /* Name.Variable.Instance */
       color: $base08;
     }
     .il {
       /* Literal.Number.Integer.Long */
       color: $base09;
     }
   }
   
   .gist {
     th, td {
       border-bottom: 0;
     }
   }